*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;

}
.navbar{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
}
.navbar_brand{
    width: 100px;
}
.navbar_logo{
    width: 100%;
}
.navbar_items{
    background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
    color:#fff;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
}
.navbar_items:hover{

}
@media (min-width: 768px){
    .navbar{
        justify-content: space-between;
        padding:10px 30px

    }
} 
@media (min-width: 1020px){
    .navbar_brand{
        width: 150px;
    }
    .navbar_items{
        padding:20px;
        font-size: 20px;
    }

}